body {
    background: #f4f6f9;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
